<div class="row " style="margin: 20px" >
  <div class="col-xs-2">

    <ul class="row">
      @for (subtask of calendars; track subtask; let i = $index) {
        <li  style="margin: 5px; border: 2px solid" [ngStyle]="{'borderColor':subtask.backgroundColor}"
         class="col-xs box"
        >
          <mat-checkbox [checked]="subtask.completed" (change)="update($event.checked, i)">
            {{subtask.name}}
          </mat-checkbox>
        </li>
      }
    </ul>
  </div>
  <div class="col-xs" style="margin: auto;">
    <div  class="row center-xs col-xs">
      <header class="col-xs-12">
        <!--      {{view | json}}-->
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select [(ngModel)]="optionsSelect.type" (ngModelChange)="changeCalendar()">
            @for (lb of view; track lb) {
              <mat-option [value]="lb">{{lb.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </header>
      <div class="col-xs-12" id="calendar" style="max-width: 80vw;height: 80vh"></div>
    </div>

  </div>

</div>
